<body>
    <div class="wrapper">
      <form [formGroup]="loginform" (ngSubmit)="submit()">
        <h2>Login</h2>
        <div class="input-box">
          <input type="text" placeholder="Email" formControlName="email" required>
          
        </div>
        <small *ngIf="email?.invalid && (email?. dirty || email?.touched)" class="error">
        <div *ngIf="email?.errors?.['email']">*Email should be valid </div>
    </small>
    <div class="input-box">
        <input type="password" placeholder="Password" formControlName="password" required>
        
    </div>
        <div class="remember-forgot">
            <label><input type="checkbox">Remember me</label>
            <a href="#">Forgot password </a>
        </div>
        <button type="submit" class="btn"[disabled]="loginform.invalid">login</button>
        <div class="register-link">
            <p> No account? <a href="register"></a></p>
        </div>
    </form>
    </div>
    </body>