body {
    background-image: url('https://i.imgur.com/axwpGH6.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}